 <form #f="form" (ng-submit)="login(f.value)">
 <div ng-control-group="credentials">
 <div class="container" >
            <div class="title">
                Welcome
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12">
          <label for="email">Username</label>
          <input
            type="text"
            id="email"
            ng-control="email"
            required>
                    </div>
                </div>
                 <div class="row">
                    <div class="input-field col s12">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            ng-control="password"
            required>
                    </div>
                </div>
 
                <span>{{errorMsg}}</span>
                <button>Login!</button>
            </div>
        </div>
                </div>
 </form>